body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(233, 241, 245) !important;
}

#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.single-product {
  padding: 10px;
  transition: 0.6s;
}

.single-product:hover {
  box-shadow: 4px 4px 10px gray;
  border-radius: 10px;
  border: 1px solid lightblue;
  background-color: #f7eeee;
}

.product-image {
  width: 125px;
  height: 125px;
}

.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 25px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}

.cart-main {
  padding-right: 30px;
}

@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}

@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Galaxy store own styles added */
#total-Products{
  margin-left: 14px;
}

.product{
  background-color: white;
  margin: 10px 5px 15px 15px;
  padding-bottom: 10px;
  border-radius: 8px;
}

.title-height{
  height: 85px;
}

.fa-star{
  color: lightgrey;
}

.btn-bg-color{
  background-color: rgb(111, 171, 245) !important;
  font-weight: 700 !important;
}

.get-original-rating{
  color: goldenrod;
}